
.width-70 {
    width: 70%;
}

.width-30 {
    width: 30%;
}

.width-85 {
    width: 85%;
}

.width-100 {
    width: 100%;
}

.flex-align-left {
    justify-content: flex-start;
}

.inline-block {
    display: inline-block;
}

.margin-auto {
    margin: auto;
}

/* ***** REPORTS PANEL STYLES ***** */

#reports-panel {
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

section {
    margin: 0.2em 0;
    /* background-color: pink; */
}

.section-div {
    display: grid;
    grid-template-columns: 30% 3em auto;
    /* background-color: #afaeeb; */
}

.section-div div {
    align-items: center;
}

.section-div div p {
    padding:  0 0.5em;
}

.custom-button-report {
    width: 12em;
}

.div-reports-panel-go {
    margin: 1em;
    /* background-color: aquamarine; */
}

.div-reports-panel-go button {
    width: 30%;
    height: 3em;
}

 /* ********************************************************* */
/* ***** ESTILOS PARA SVG UPDATE ***** */
 /* ********************************************************* */

.container-svg-update {
    justify-content: center;
}

.container-svg-update a svg {
    display: block;
}

.container-svg-update svg {
    stroke: var(--first-color);
    fill: var(--first-color);
    width: 2.5em;
} 

.container-svg-update:hover svg {
    stroke: var(--second-color);
    fill: var(--second-color);
} 

 /* ********************************************************* */
/* ***** ESTILOS PARA SVG UPDATE ENDS ***** */
 /* ********************************************************* */

/* ***** TABLE RESULTS PANEL STYLES ***** */

#table-results-panel {
    padding: 0em 0.3em 0.3em 0.5em;
}

div.app-table-results table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

table thead {
    background-color: yellow;
    position: sticky;
    top: 0;
    border: 2px solid black;
}

table thead tr th span {
    writing-mode: vertical-lr;
    transform: rotate(180deg); 
}

table tbody tr:nth-child(even) {
    background-color: #D6EEEE;
}

table tbody tr:hover {
    background-color: lightgray;
}

table tbody td {
    border: 0.5px solid black;
    padding: 3px;
    min-width: 2.5em;
}

table tbody td.order {
    background-color: rgb(164, 230, 134);
}

/* td:nth-child( 8 ), th:nth-child( 8 ) { */
.stockWeeksHighligter {
    background-color: #afaeeb;
    color: aliceblue;
}

/* ***** TABLE RESULTS PANEL STYLES ENDS ***** */

/* ***** COPY BUTTON  ***** */

.div-copy-div {
    position: fixed;
    bottom: 3em;
    right: 3em;
    z-index: 10;
}

/* ***** COPY BUTTON ENDS ***** */