
/* ***** REPORTS PANEL STYLES ***** */

.app-body-section {
    padding: 0.5em 1em ;
    margin-bottom: 1em;
}

.section-div-button {
    width: 30%;
}

.section-div-button label{
    max-width: 50%;
    min-width: 7em;
}

.section-div-file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
}

.section-div-file p {
    display: block;
}

.app-body-div {
    margin-top: 2em;
}

.app-body-div-button {
    width: 30%;
    height: 3em;
}

/* ***** REPORTS PANEL STYLES ENDS ***** */

/* ***** TABLE RESULTS PANEL STYLES ***** */

/* TODO: remove background color */
#table-results-panel {
    background-color: burlywood;
}

.app-body table {
    margin: 1em;
    border: 2px solid black;
}


/* ***** TABLE RESULTS PANEL STYLES ENDS ***** */




